.info-nav{
    background-color: white;
}
.info-nav .nav-buttons{
    display: flex;
    justify-content: space-evenly;
    
}

.info-nav .nav-buttons button{
    width: 200px;
    font-size: 25px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    border: 2px solid gold;
    background-color: red;
}

.info-nav .results{
    height: 80vh;
    background-color: white;
}

.info-nav .results .result-group{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-top: 2px;
}

.info-nav .results .result-group #res{
    font-size: 60px;
    font-weight: bolder;
}

.info-nav .results .result-group .result-single{
    display: flex;
    justify-content: center;
}

.info-nav .results .result-group .result-single h3{
   text-align: center; 
}

.info-nav .results .result-group .row{
    height: 70px;
    background-color: rgb(117, 117, 4);
    align-items: center;
    color: white;
}