
.box {
    height: 100vh;
    width: 100vw;
    background-color: black;
    border: 2px solid green; 
    padding:0px;
    /* overflow-wrap:break-word; */
    /* overflow-x: hidden;
    overflow-y: hidden; */
  }

  @media only screen and (max-width: 768px){
    .box{
        height: 100vh;
        width:100vw;
    }
  }