@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.boxes{
    display: flex;
    margin: 5px 0px 2px 15px;
    font-family: 'Cormorant Garamond', serif;    
}
.boxes .box1{
    position:relative;
    color: azure;
    background-color: rgb(55, 52, 97);
    text-align: center;
    width: 100px;
    height:20px;
    font-weight: bold;
    border: 1px solid green;
    background-color: light yellow;
}
.boxes .box2{
    position: inherit;
    color: azure;
    text-align: center;
    width: 100px;
    height:40px;
    border: 1px solid green;
}
.boxes .box3{
    position: relative;
    color: azure;
    background-color: rgb(112, 89, 15);
    text-align: center;
    margin-top: 10px;
    width: 100px;
    font-weight: bold;
    height:20px;
    border: 1px solid green;
}
.boxes .box4{
    position: relative;
    color: azure;
    text-align: center;
    width: 100px;
    height:40px;
    border: 1px solid green;
}

.image{
    margin:0px  0px 0px 100px;
    width: fit-content;
    height: 110px;
    border:2px solid yellow;
    border-radius: 50%;
    overflow: hidden;
    background-color: yellow;
}

.image img{
    width:120px ;
    height:100px;
    image-resolution: 100px;
    background-color: yellow;
}
.date-time{
    display: flex;
    font-family: 'Teko', sans-serif;
}
.date-time .date{
    color: white;
    margin-left: 500px;

}
.date-time .time-added{
    color: white;
    margin-left: 10px;
}

.boxes .date-time .timer{
    border: 1px solid red none;
    width: 30px;
    height: fit-content;
}
.boxes .date-time .count-timer{
    color: white;
    margin: 55px 0px 0px 10px;
}
.boxes .lastresult{
    margin-left: 50px;
}
.boxes .lastresult .time{
    color: white;
    width:90px;
    border: 1px solid red;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    
}

.boxes .lastresult .lastelement{
    color: white;
    border: 1px solid red;
    width:90px ;
    height: 80px;  
}

.boxes .lastresult .lastelement .result{
    text-align: center;    
    font-size: 60px;
    font-family: 'Roboto Slab', serif;
    background-image: url(../Images/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.boxes .lastresult .result-map-1{
    border:1px solid red;
    width: 80px;
    height: 80px;
    margin-left: 390px;
    background-image: url(../Images/wallpaper2.jpg);
    background-size: cover;
}

.boxes .lastresult .result-map-1{
    text-align: center;
    padding: 24px 2px 2px 2px ;
}